@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column; 
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 75vh;
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header ul {
    display: flex;
    gap: 50px;
    list-style: none;
    
}

.header ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 420px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 1500;
    color: #f9faf8;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    font-weight: 700;
    color:#e5e7eb;
    line-height: 1.2;
    margin: 0;
}

.hero-btn {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    align-self: flex-start;
}


.hero-img {
    width: 700px;
    height: 350px;
}

.card-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.card-heading h3 {
    font-size: 42px;
    font-weight:bold;
    margin: 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.card { 
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    padding: 16px;
    border-radius: 12px;
    background-color: #f3f4f6;
    font-size: 22px;
    border: 1px solid rgb(157, 157, 242);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.testimony-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 80px 32px;
    background-color: #e5e7eb;
    margin-top: 48px;
    
}

.testimony-section .phrase {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    max-width: 1000px;
}

.testimony-section .person {
    font-size: 18px;
    font-weight: bold;
    width: 1000px;
    text-align: right;
}

.cta-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 48px 80px;
    width: 1000px;
    background-color:  #3882f6;
    margin: 16px auto;
    border-radius: 12px;
    margin-top: 88px;
    margin-bottom: 88px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
}

.cta-text h4 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}

.cta-text p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.cta-btn button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
    background-color: #3682f6;
    color: white;
    cursor: pointer;
    border-radius: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #1f2937;
    color: white;
    font-weight: 700;
}
